.smithe_header {
    background-color: #C6263E;
    min-width:100vw;
    min-height:400px;
}

ul.list-group.list-group-striped button:nth-of-type(odd){
    background: white;
}
ul.list-group.list-group-striped button:nth-of-type(even){
    background: #F3F4F6;
}
ul.list-group.list-group-hover button:hover{
    background: rgb(198, 38, 62, 0.6);
}