[package]
name = "smithe_backend"
version = "0.1.0"
edition = "2021"
authors = ["Dan Chiarlone"]

[dependencies]
anyhow = "1"
rocket = "0.5.0-rc.2"
serde_json = "1"
thiserror = "1"
smithe_lib = { path = "../lib" }
